body{
    background-color: aqua;
    margin: 0;
    font-family: "Merriweather" serif;
    
}


.pro {
  text-decoration: underline;
  color: yellow;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}



.intro{
    font-size: larger;
    color: blue;
}

.middle-container{
    background-color: darkgoldenrod;
}


